model_version: v1.1
ckpt_path: "models/opensora_v1.1_stage3.ckpt"
t5_model_dir: "models/t5-v1_1-xxl/"
vae_checkpoint: "models/sd-vae-ft-ema.ckpt"

image_size: [256, 512]
num_frames: 16
frame_interval: 3
fps: 24
enable_flash_attention: True
model_max_length: 200
dtype: "bf16"
batch_size: 1
pre_patchify: True

max_image_size: 512
max_num_frames: 16  # refers to the `num_frames` in training

# sampling
sampling_steps: 100
guidance_scale: 7.0
guidance_channels: 4
seed: 42
sampling: ddpm

captions:
  - "In an ornate, historical hall, a massive tidal wave peaks and begins to crash. Two surfers, seizing the moment, skillfully navigate the face of the wave."
