[flake8]
max-line-length = 160
extend-exclude =
    docs/*,
    setup.py
extend-ignore = E203,E731
per-file-ignores =
    */__init__.py:F401,F403
    examples/*,tests/*:E402
    examples/stable_diffusion_v2/ldm/models/diffusion/dpm_solver/dpm_solver.py:W605
    examples/stable_diffusion_v2/ldm/models/diffusion/uni_pc/uni_pc.py:W605
    examples/text2video_zero/ldm/models/diffusion/dpm_solver/dpm_solver.py:W605
    examples/text2video_zero/ldm/models/diffusion/uni_pc/uni_pc.py:W605
