opencv-python
scikit-image
ftfy
albumentations
pandas
imagesize
pillow==9.1.1
tqdm
decord
safetensors
huggingface_hub
omegaconf
pyyaml
tokenizers
sentencepiece
transformers
av
mindcv==0.3.0
beautifulsoup4
jsonargparse[signatures,omegaconf,urls]~=4.37.0
einops
# for T5 tokenizer
tiktoken
sentencepiece
