@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}

[data-md-color-scheme="default"] {
  --md-footer-fg-color:                hsla(0, 0%, 0%, 1);
  --md-footer-fg-color--light:         hsla(0, 0%, 0%, 0.7);
  --md-footer-fg-color--lighter:       hsla(0, 0%, 0%, 0.45);
  --md-footer-bg-color:                hsla(0, 0%, 100%, 0.87);
  --md-footer-bg-color--dark:          hsla(0, 0%, 100%, 0.32);
}

img {
    border-radius: 15px;
}
