# model
model_version: v1.1
pretrained_model_path: "models/opensora_v1.1_stage2.ckpt"
model_max_length: 200

enable_flash_attention: True
use_recompute: True
jit_level: "O1"

# data
image_size: [ 576, 1024 ]
num_frames: 24
frame_stride: 3

num_parallel_workers: 12
max_rowsize: 256

# precision
amp_level: "O2"
vae_dtype: bf16
dtype: bf16
loss_scaler_type: static
init_loss_scale: 1

# training hyper-params
scheduler: "constant"
start_learning_rate: 2.e-5
end_learning_rate: 2.e-5
warmup_steps: 0   # TODO: ablate

batch_size: 1
clip_grad: True
max_grad_norm: 1.0
use_ema: False

optim: "adamw_re"
optim_eps: 1.e-8
weight_decay: 0.

epochs: 12000
ckpt_save_interval: 50

mask_ratios:
  identity: 0.75
  quarter_random: 0.025
  quarter_head: 0.025
  quarter_tail: 0.025
  quarter_head_tail: 0.05
  image_random: 0.025
  image_head: 0.025
  image_tail: 0.025
  image_head_tail: 0.05
