mindspore
mindocr
tqdm
numpy
pandarallel # data parallel
pyyaml
opencv-python # get video and image information
ffmpeg-python # get video and image information
lingua-language-detector # to filter a specific language
scenedetect
shapely # ocr