opencv-python
scikit-image
einops
ftfy
regex
albumentations
pandas
imagesize
toolz
pillow==9.1.1
tqdm
mindcv
decord
safetensors
omegaconf
pyyaml
tokenizers>=0.15.2
sentencepiece
transformers>=4.39.3
pyav
bs4
huggingface_hub>=0.22.2
