opencv-python
scikit-image
einops
ftfy
regex
albumentations
pandas
imagesize
toolz
pillow==10.3.0
tqdm
mindcv
decord
safetensors
omegaconf
pyyaml
tokenizers>=0.15.2
sentencepiece
transformers>=4.39.3
pyav
huggingface_hub>=0.22.2
